{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}

{% block content %}

<div class="container">
  <div class="row mt-3 align-items-center">

    <div class="col-md-6">
      <div class="d-flex">
        <p class="display-4">{{user.username}}</p>
        
        {% if user.username == session['username'] %}
        <div class="d-flex align-content-center flex-wrap ms-2">
          <form action="/users/{{session['username']}}/delete" method="POST">
            <button class="btn btn-outline-primary" type="submit"><i class="fad fa-trash-alt"></i></button>
          </form>
        </div>
        {% endif %}
      
      </div>
      
      
      <!-- <p class="lead">You must be logged in to see this page because it is secret!</p> -->
      
      <div>
        <ul>
          <li><b>Name:</b> {{user.first_name}} {{user.last_name}}</li>
          <li><b>Username:</b> {{user.username}}</li>
          <li><b>Email address:</b> {{user.email_address}}</li>
        </ul>
      </div>
    </div>

    <hr class="d-md-none my-3">

    {% if user.username == session['username'] %}
    <div class="col-md-6">

      <div>
        <p class="display-6">New Feedback</p>
        <form action="/users/{{session['username']}}/feedback/add" method="POST">
    
          {% include '_feedback_form.html' %}
          
          
        </form>
      </div>
      
    </div>
    {% endif %}
    
    <hr class="my-3">

  </div>
  
  
  
  <div class="row d-flex justify-content-center">
    
    <div class="row col-sm-11 col-md-9 col-lg-8 col-xl-6 mb-auto">

      {% for post in posts %}
      <!-- <div class="card w-75"> -->
      <div class="card p-0 mb-2 border-primary">
        <div class="card-header border-primary bg-primary text-white d-flex px-2 py-1">
          
          <span class="my-auto"><b>{{post.title}}</b></span>
          
          {% if user.username == session['username'] %}
          <div class="d-flex align-content-center flex-wrap ms-auto">
            
            <form action="/feedback/{{post.id}}/edit" method="GET">
              <button class="btn btn-outline-light btn-sm me-1" type="submit"><i class="fad fa-pencil"></i></button>
            </form>

            <form action="/feedback/{{post.id}}/delete" method="POST">
              <button class="btn btn-outline-light btn-sm" type="submit"><i class="fad fa-trash-alt"></i></button>
            </form>
          
          </div>
          {% endif %}

        </div>
        <div class="card-body p-2">
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
      {% endfor %}

    </div>



  </div>

</div>

{% endblock %}

{% block page_scripts %}{% endblock %}